<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parse.loginsample.withdispatchactivity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DispatchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="true" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />



        <!-- Activity under MyProfile -->
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile"
            android:parentActivityName="com.parse.loginsample.withdispatchactivity.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.loginsample.withdispatchactivity.MainActivity" />
        </activity>
        <activity
            android:name=".Pay"
            android:label="@string/title_activity_pay"
            android:parentActivityName="com.parse.loginsample.withdispatchactivity.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.loginsample.withdispatchactivity.MainActivity" />
        </activity>
        <activity
            android:name=".Buy"
            android:label="@string/title_activity_buy"
            android:parentActivityName="com.parse.loginsample.withdispatchactivity.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.loginsample.withdispatchactivity.MainActivity" />
        </activity>
        <activity
            android:name=".Split"
            android:label="@string/title_activity_split"
            android:parentActivityName="com.parse.loginsample.withdispatchactivity.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.loginsample.withdispatchactivity.MainActivity" />
        </activity>
        <activity
            android:name=".Requests"
            android:label="@string/title_activity_requests"
            android:parentActivityName="com.parse.loginsample.withdispatchactivity.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.loginsample.withdispatchactivity.MainActivity" />
        </activity>


        <!-- Activity under MyProfile -->
        <activity
            android:name=".InviteFriends"
            android:label="@string/title_activity_invite_friends"
            android:parentActivityName="com.parse.loginsample.withdispatchactivity.MyProfile" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.loginsample.withdispatchactivity.MyProfile" />
        </activity>
        <activity
            android:name=".BanksCards"
            android:label="@string/title_activity_banks_cards"
            android:parentActivityName="com.parse.loginsample.withdispatchactivity.MyProfile" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.loginsample.withdispatchactivity.MyProfile" />
        </activity>
        <activity
            android:name=".TransactionHistory"
            android:label="@string/title_activity_transaction_history"
            android:parentActivityName="com.parse.loginsample.withdispatchactivity.MyProfile" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.loginsample.withdispatchactivity.MyProfile" />
        </activity>
        <activity
            android:name=".PendingTransactions"
            android:label="@string/title_activity_pending_transactions"
            android:parentActivityName="com.parse.loginsample.withdispatchactivity.MyProfile" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.parse.loginsample.withdispatchactivity.MyProfile" />
        </activity>
        
    </application>

</manifest>
